<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Bjorn Stromberg</string>
	<key>Builder Version</key>
	<string>10600.1.25</string>
	<key>CFBundleDisplayName</key>
	<string>Tumblr Savior</string>
	<key>CFBundleIdentifier</key>
	<string>com.bjornstar.safari.tumblr-savior</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.4.22</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Context Menu Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>addToBlackList</string>
				<key>Identifier</key>
				<string>addToBlackList</string>
				<key>Title</key>
				<string>Add to Tumblr Savior black list</string>
			</dict>
		</array>
		<key>Global Page</key>
		<string>index.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>options</string>
				<key>Identifier</key>
				<string>Tumblr Savior Toolbar Button</string>
				<key>Image</key>
				<string>data/Safari.png</string>
				<key>Label</key>
				<string>Tumblr Savior</string>
				<key>Tool Tip</key>
				<string>Click me to edit Tumblr Savior options.</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Blacklist</key>
		<array>
			<string>http://www.tumblr.com/uploads/*</string>
			<string>https://www.tumblr.com/uploads/*</string>
		</array>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>data/script.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>http://www.tumblr.com/*</string>
			<string>https://www.tumblr.com/*</string>
			<string>safari-extension://com.bjornstar.safari.tumblr-savior-4GANG9K96D/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Tumblr Savior for Safari</string>
	<key>DeveloperIdentifier</key>
	<string>4GANG9K96D</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>com.bjornstar.safari.tumblr-savior-4GANG9K96D</string>
				<string>www.tumblr.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://tumblr-savior.bjornstar.com/update.plist</string>
	<key>Website</key>
	<string>http://tumblr-savior.bjornstar.com</string>
</dict>
</plist>
